[Unit]
Description=strimmer.endoflow.com announce
BindsTo=strimmer.service
After=strimmer.service

[Service]
User=core
EnvironmentFile=/etc/environment
Restart=always

ExecStart=/bin/sh -c "while true; \
  do \
  /bin/etcdctl set --ttl 60 /vulcand/upstreams/strimmer/endpoints/strimmer.service http://$COREOS_PRIVATE_IPV4:5010; \
  /bin/etcdctl set --ttl 60 /vulcand/hosts/strimmer.endoflow.com/locations/home/path '/.*'; \
  /bin/etcdctl set --ttl 60 /vulcand/hosts/strimmer.endoflow.com/locations/home/upstream strimmer; \
  echo strimmer.endoflow.com running at http://$COREOS_PRIVATE_IPV4:5010 and registered with etcd; \
  sleep 45; done;"

[X-Fleet]
X-ConditionMachineOf=strimmer.service

[Install]
WantedBy=multi-user.target
